@import "variables";
@import "init";

.snap-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;

    .snap-box {
        width: 100%;
        min-height: 100vh;
        // overflow: hidden;
        display: flex;

        margin-bottom: 5px;
        scroll-snap-align: start;

        &:last-child {
            margin-bottom: 0px;
        }
        &.box_1 {
            background-color: $backgroundcolor1;
            @import "navbar";
        }

        &.box_2 {
            background-color: rgb(122, 202, 255);
        }
    }
}
