@import "global";

//! --------------------------------------------------------------

.sidebar {
    grid-area: sb;
    overflow: hidden;

    min-width: 100%;
    max-width: 100%;
    border-style: dashed;
    border-color: pink;
}

.content1 {
    grid-area: c1;
    overflow: hidden;

    min-width: 100%;
    max-width: 100%;
    border-style: dashed;
    border-color: yellow;
}

.content2 {
    grid-area: c2;
    overflow: hidden;

    min-width: 100%;
    max-width: 100%;
    border-style: dashed;
    border-color: red;
}
