@import "variables";
@import "init";

.snap-wrapper{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.snap-wrapper .first_page{

}



@import "grid";
@import "navbar";

//! --------------------------------------------------------------


.sidebar {
    grid-area: sb;
    // overflow: hidden;

    min-width: 100%;
    max-width: 100%;
    border-style: dashed;
    border-color: green;
}

.content1 {
    grid-area: c1;
    // overflow: hidden;

    min-width: 100%;
    max-width: 100%;
    border-style: dashed;
    border-color: yellow;
}